.homepage{
    background-color:#3686be;      
}
.navbar-default{
    background-color:#3686be;
    border-color:#3686be;                
}

.navbar {
    border-radius:0px;
    margin-bottom:0px;
    height:120px;
}

.main-home{
    background-color:#3686be;
    border-color:#3686be  
}

.navbar-brand{                
    margin-top: 43px;
}


.jumbotron{
  text-align:center;         
  background-color:#3686be;
}

.jumbotron p, .jumbotron h1{
   color:#fff;    
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 54.5px;
  }
}

/* single page */
.navbar-single-page {
  height: 75px;                     
}

.navbar-brand-single-page{
    margin-top:0px;
    float: left;
    padding: 19.5px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 60px;    
}


#hidden_field_for_meetup_id{
display:none;
}

.navbar-default-single-page {
 background-color:#3a3f41;
 border-color: #3a3f41;
 color: #fff;                           
}            


.navbar-default-single-page a{
  color: #fff;
}                              
                
/* custom css */

#main-promo{
  margin-bottom:30px;
}

.red-alert-box{
  margin-top:15px;
}


.metadata {
  color: #b4bcc2;
  font-size:80%;
}


.slides-container blockquote{
    border-bottom-color: #18bc9c;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

blockquote.new_item {
   border-bottom-color: #f39c12;  
   border-left-color: #f39c12;        
}

/* dropzone overrides */
.dropzone .dz-preview, .dropzone-previews .dz-preview {
    background: none;
    display: block;
    margin: 17px;
    vertical-align: top;
    border: none;
    padding: none;
}


.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
    width: 100%;
    height: auto;
    position: relative;    
    padding: 5px;
    margin-bottom: 22px;
}



/* jquery ui autocomplete */

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;  
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  border-top:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-state-focus
{    
    background:#EFEFEF;
    outline:none;
    color:#000;
}

.ui-helper-hidden-accessible { display:none; }


.bs-component a{
  text-decoration:none;                
}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #3a3f41;
}

.member_name{
  padding-left:10px;                            
}


.about_promo{
  padding-top:30px;
  padding-bottom:10px;             
}

.about_promo_next{
  padding-bottom:10px;
}



