                            <div class="form-group">
                              <label class="control-label" for="focusedInput">Slide url</label>
                              <input class="form-control" id="slide_url" type="text" placeholder="http://slideshare.net/your-pdf.net">
                            </div>
                            
                            <div class="form-group">
                              <label class="control-label" for="focusedInput">Speaker Name</label>
                              <input class="form-control" id="slide_author" type="text" placeholder="John Meyer">
                            </div>
                            
                            <div class="form-group">
                              <label class="control-label" for="focusedInput">Presentation Title</label>
                              <input class="form-control" id="slide_presentation_title" type="text" placeholder="Serving a web server with Golang">
                            </div>
                            
                            <div class="form-group">
                              <label for="textArea" class="control-label">Description</label>                            
                              <textarea class="form-control" rows="3" id="slide_description" placeholder="Creating a web server is easy in golang. It provides native way or serving web requests as part of standard library. This talk will explain running a real production quality web server in golang."></textarea>                                                            
                            </div>
                            
                            <div class="form-group">
                              <label class="control-label" for="focusedInput">Presentation date</label>
                              <input class="form-control datepicker" id="slide_presentation_date" type="text" placeholder="1/15/2014">
                            </div>
                            
                            <button type="button" class="btn btn-success" id="slide_link_submit">Submit the link</button>
                            
                            