{% extends "base.html" %}

{% block title %}About | {% endblock %}

{% block content %}
    <div class="col-lg-12">
		<p class="about_promo col-lg-6"> 
		A number of meetups happpen each day in various cities. 
		Number participants attend those, but not eveyone receives 
		the digital copy of the talks and presentations.	
		</p>
	</div>
	
	
	<div class="col-lg-12">
		<p class="about_promo_next col-lg-6"> 
		MeetupSlides.com is an effort to engage meetup attendees 
		beyond the day of the meetup. We allow you to follow and track slides, videos
		and presentation files from speakers and meetups even after you 
		stop attending certain meetups. 
		</p>
	</div>
		
		
	<div class="col-lg-12">
		<p class="about_promo_next col-lg-6"> 
			<h2> Meetup slides team </h2>
		</p>
	</div>
			
	<div class="row">
	   <div class="container">
	     <blockquote>
	       <p><img src="http://www.hackinghabits.com/images/common/madan_thangavelu_profile_picture_small.gif" width="64"/> <span class="member_name"><a href="http://www.hackinghabits.com">Madan Thangavelu (hackinghabits)</a></span></p>	       
	     </blockquote>
	     
	     <blockquote>
	       <p><span class="member_name">Bharadwaj Parthasarathy (t20)</span></p>	       
	     </blockquote>
	     
	     <blockquote>
	       <p><span class="member_name">Gautam Korlam (kage)</span></p>	       
	     </blockquote>
	   </div>
	</div>
{% endblock %}