<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    
    {% block defaulthead %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/dropzone.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/flatly.bootstrap.css') }}">
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/single.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>    
    <script src="{{ url_for('static', filename='js/underscore.min.js') }}" type="text/javascript" charset="utf-8"></script>    
    <script src="{{ url_for('static', filename='js/backbone.min.js') }}" type="text/javascript" charset="utf-8"></script>    
    <script src="{{ url_for('static', filename='js/single.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/master.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload_manager.js') }}"></script>    
    
    
    {% endblock %}
    
    {% block head %}
      
    {% endblock %}
        <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  
  <body class="{% block bodyclass %}{% endblock %}">
        
         <div class="navbar navbar-single-page navbar-default-single-page">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand-single-page" href="/"><img src="/static/img/logo_large_dark.png"/></a>          
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>    
        
        
        <div class="row">
          <div class="container">
            {% block content %}
            {% endblock %}
          </div>        
        </div>

        
  </body>
</html>
    