<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    
    {% block defaulthead %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/flatly.bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/single.css') }}">
    
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>   
    <script src="{{ url_for('static', filename='js/underscore.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/backbone.min.js') }}" type="text/javascript" charset="utf-8"></script>    
    <script src="{{ url_for('static', filename='js/single.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}" type="text/javascript" charset="utf-8"></script>
            
    {% endblock %}
    
    {% block head %}
      
    {% endblock %}
        <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
  </head>
  
  <body class="{% block bodyclass %}{% endblock %} homepage">
        
         <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><img src="/static/img/logo_large.png"/></a>          
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>    
        
     <div class="row main-home">
        <div class="container">                    
            <div class="row">            
                <div class="jumbotron">
                    <div id="main-promo">
                        <h1>Archive your meetup presentations</h1>
                    </div>

                    <div id="main-promo">
                        <p>Get all your meetup talks under one roof.</p>
                    </div>
                                      
                  
                    <div class="col-lg-8 col-lg-offset-2">                                            
                          <div>                                                
                            <input class="form-control" id="meetups_list" type="text" placeholder="Search for a meetup by name, e.g. SFHTML5">                                                                            
                          </div>                      
                     </div> 
                </div>            
            </div>
            
        </div>
     </div>
        
  </body>
</html>
    